/* header style start here  */
body{
    font-family: 'Poppins', sans-serif;
}
header{
    padding: 0 7%;
}
.brand{
    color: #4A4A4A;
}
.navLink{
    color: #777777;
}

/* slider start here */

.carousel-item > img{
    width: 100%;
    max-height: 90vh;
}
.btnSl{
    background-color: #289BDE;
   
}
.cuPera{
    color: #F4F4F4;
}

/* main style start here  */

main{
    padding: 0 7%;
}

.course-title p{
    color: #777777;
}

.cardTitle{
    color: #4A4A4A;
}
.card-body span{
    color: #289BDE;
}

.coursePera{
    color: #777777;
}

.courseBtn{
    background-color: #289BDE;
}
.course-btn .courseBtn:hover{
    color: #000 !important;
}

/* explor style start here */

.expRight{
    background-color: #F4FAFD;
}
.expText{
    color: #777777;
}
.rating span{
    color: #777777;
}
.btnExplor{
    background-color: #289BDE;
}
.btnExplor:hover{
    color: #000 !important;
}


/* explor style end here */



/* main style end here  */